*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    position: fixed;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100vw;
    cursor: pointer;
    color: white;
}

.brand{
    margin-right: 20px;
}
ul li{
    list-style: none;
    display: inline;
}

.left {
    display: flex;
    align-items: center;
}
#main-header{
    width: 100vw;
    height: 100vh;
    background-image: url("images/blog.jpg");
    background-size:cover;
}
#main-heading{
    color: white;
    /* margin: 50%; */
}
.body-header{
    position: absolute;
    margin-top: 20%;
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.body-header button{
    margin-top: 10px;
}
